@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  

}

* {
  box-sizing: border-box;
}
#bloquePrincipal{
  width: 100%;
  font-size: 2em;
  border: 4px dashed #666666;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
}
#menuLateral{
  width: 400px;
  background-color: #e0e0e0;
  border: 2px dashed #F06666;
  
}
#contenidoPrincipal{

}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  grid-column: 2;
  grid-row: 2;
  padding: 2rem ;
  justify-content: left;
  align-items: left;
  border: 1px solid rgb(204, 49, 49);
  max-width: 1250px;
  background: #fff;
  box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.1);

}

footer{
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  
  border-radius: 5px;
  border: 1px solid rgb(87, 205, 240);
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #0070f3;
  text-decoration: none;
}
flotante {
  float: left;
  border-radius: 5px;
}

b {
display: grid;
grid-template-columns: 280px auto;
grid-template-rows: 60px auto 50px;
height: 700px;
max-height: 800px;
border-radius: 5px;

}

c {
  height: 700px;
  width: 150px;
  grid-column: 2;
  grid-column: 1;
  background: rgba(98, 208, 218, 0.9);
  
  float: left;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  border-bottom: 1px solid #999999;
  width: 100%;
  background-color: #eaeaea;
}

.menu a {
  margin: 10px 20px 10px 20px;
  border-bottom: 3px solid #e0e0e0;
  padding-bottom: 10px;
  text-align: center;
}

.currentPage {
  border-bottom: 3px solid #0070f3 !important;
  color: #333333;
}

.counter {
  font-size: 0.7em;
  padding-left: 25px;
  border: 0px !important;
}
.counter button {
  padding: 1px 10px;
  margin: 0;
  font-size: 0.8em;
  cursor: pointer;
}
.todo-list {
}
.todo-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.todo-item-title {
  flex: 10;
}
.todo-item-done {
  flex: 1;
}

.title a {
  color: #000000;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  color: #2007ff;

  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  padding-bottom: 10px;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  
}

.card {
  margin: 1rem;
  flex-basis: 80%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  background-color: #ebf4ff;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.tarjeta{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid #666666;
  width: 400px;
  margin-bottom: 20px;
}
.tarjeta-1{
  padding: 5px 10px 5px 20px;
}
.tarjeta-0{
  width: 50px;
  text-align: center;
  background-color: #0070f3;
  border-radius: 20px 0px 0px 20px;
}

header {
  grid-column: 2;
  grid-row: 1;
  background: rgba(43, 185, 168, 0.9);

}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
  
	left: 169px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
  .btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 